.universal-padding {
  padding-left:121px;
}
/* cross-image */
#croseeimg-container {
  text-align: center;
  padding: 33px 0px;
}

/* navbar */
#navbar {
  margin: 0px 249;
}
#navbar ul li {
  display: inline-block;
  padding: 10px 30px;
  text-align: left;
  font: normal normal 600 19px/26px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  margin-right: 45px;
}

br {
  border: 1px solid #707070;
  opacity: 1;
}

/* mask group */
#maskgroup1 {
  display: inline-block;
}
#content {
  width: 50%;
  float: left;
}
#content h1 {
  text-align: left;
  font: normal normal 900 40px/54px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  margin-top: 70px;
}
.pricecheck-btn {
  text-align: center;
  font: normal normal 600 23px/31px Nunito Sans;
  letter-spacing: 0px;
  color: #ffffff;
  background: #1492e6 0% 0% no-repeat padding-box;
  box-shadow: 0px 16px 48px #00000029;
  border-radius: 33px;
  margin: 50px 0px;
  height: 65px;
  width: 247px;
  padding: 0px;
  border: none;
}

#content p {
  text-align: left;
  font: normal normal normal 18px/24px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  margin-right: 180px;
}

#maskbgimg {
  width: 50%;
  float: left;
}
#maskbgimg img {
  height: 518px;
  width: 509px;
  margin-left: 150px;
}

/* card template */
#cards {
  display: inline-block;
  overflow: auto;
}
.card-temp {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 18px;
  width: 308px;
  height: 320px;
  float: left;
  margin: 40px;
  box-sizing: border-box;
}
#card-heading {
  text-align: center;
  /* margin: 0px; */
}

.card-temp h3 {
  text-align: center;
  margin: 20px;
}
.card-temp p {
  text-align: left;
  margin: 15px;
}

/* mask group2 */

.card-temp img {
  text-align: center;
  margin-left: 50px;
  height: 187px;
  width: 244px;
}
.mask2 {
  display: inline-block;
  background: #ffffff 0% 0% no-repeat padding-box;
  width: 308px;
  height: 320px;
  /* float: left; */
  margin: 40px;
  box-sizing: border-box;
  text-align: left;
}
.mask2 p {
  text-align: left;
  padding: 0px;
  margin: 0px;
}
#card-heading {
  margin: 40px 0px;
}

/* crad group3 */
#cardgroup3 {
  display: inline-block;
}
#cardgroup3 h1 {
  text-align: center;
  font: normal normal bold 35px/47px Nunito Sans;
  color: #000000;
}
#c1 {
  display: inline-block;
  width: 60%;
}
#c2 {
  width: 40%;
  float: right;
}
#c3 {
  float: left;
  width: 60%;
}
#c4 {
  width: 40%;
  float: right;
}
#outer1 {
  width: 100%;
  /* background-color: grey; */
  display: inline-block;
}
#outer2 {
  width: 100%;
  /* background-color: green; */
  display: inline-block;
}
#outer3 {
  width: 100%;
  /* background-color: grey; */
  display: inline-block;
}
#outer4 {
  width: 100%;
  /* background-color: green; */
  display: inline-block;
}

.img-Heading h2 {
  float: left;
  margin-left: 20px;
  color: red;
  text-align: center;
}
.img-Heading img {
  float: left;
}
#paradiv1 {
  display: inline-block;
}
#paradiv2 {
  display: inline-block;
}
#paradiv3 {
  display: inline-block;
}
#paradiv4 {
  display: inline-block;
}

/* slider */

#slider {
  background: #f8fafc 0% 0% no-repeat padding-box;
  box-shadow: 0px 16px 48px #00000029;
  border-radius: 42px;
  height: 363px;
  width: 1097px;
  margin-bottom: 350px;
}
#slider-heading h1 {
  text-align: center;
}

#img_heading {
  display: inline-block;
}
#img_heading img {
  float: left;
  height: 63px;
  width: 64px;
  margin-right: 13px;
  margin-left: 43px;
  margin-top: 39px;
}
#img_heading h2 {
  float: left;
  text-align: center;
  margin-top: 53px;
}

.name-img {
  margin-top: 20px;
  display: inline-block;
  width: 70%;
}
.name-img img {
  margin-left: 8px;
  float: left;
  height: 43px;
  width: 42px;
  margin-right: 10px;
}
.name-img h3 {
  /* text-align: center; */
  float: left;
  margin-top: -5px;
  padding: 0px;
}
.name-img p {
  margin-left: -70px;
  margin-top: -2px;
  padding: 0px;
  float: left;
}
.para-div1 {
  margin: 10px;
}

.card-header1 {
  /* display: inline-block; */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 16px 48px #00000029;
  border-radius: 30px;
  height: 263px;
  width: 284px;
  margin: 0px 25px;
  float: left;
}
.rating {
  float: right;
  margin-top: 25px;
  width: 30%;
}
.rating img {
  height: 14px;
  width: 14px;
}
#card_div {
  /* background-color: grey; */
  display: inline-block;
  margin: 20px;
  position: relative;
  left: 75px;
  top: 20px;
}

/* <!-- below slider heading --> */

#below-slider-heading {
  text-align: center;
  margin-bottom: 150px;
}

/* sponser */
#sponsers {
  background-color: grey;
}
.sponser33 {
  width: 33.33%;
  float: left;
}
.sponser33 img {
  height: 58px;
  width: 185px;
}

#tick-mark {
  height: 78px;
  width: 78px;
}
#electroneek {
  height: 100px;
  width: 177px;
}
#outer-sponser{
    margin-bottom: 450px;
}

/* Footer */
#footer {
  background: #000000 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  height: 369px;
}
#footer p {
  text-align: center;
  margin-top: 250px;
  font: normal normal bold 18px/24px Nunito Sans;
  letter-spacing: 0px;
  color: #ffffff;
  height: 24px;
}


